@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

input[type=text], input[type=password] {
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid rgb(219, 171, 39);
    border-radius: 8px;
    outline: none;
}

#username:focus, #password:focus {
    background-color: rgb(220, 228, 150);
}

#username:hover, #password:hover {
    box-shadow: 0px 4px 8px 0 rgb(39, 38, 38);
}

input[type=submit] {
    padding: 10px 30px;
    margin: 4px 2px;
    font-size: 16px;
    border: 2px solid rgb(230, 170, 8);
    border-radius: 8px;
}

input[type=submit]:hover {
    background-color: rgb(156, 219, 39);
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
}

input[type=submit]:active {
     box-shadow: 0 5px #666;
    transform: translateY(4px);
}

label {
    padding: 12px;
}