@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 16px;
}

label {
    padding: 12px;
}

input {
    padding: 12px;
}

input[type=text], input[type=password], input[type=email] {
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid rgb(219, 171, 39);
    border-radius: 8px;
    outline: none;
}


select {
    padding: 12px;
    margin: 10px;
    border-radius: 8px;
    appearance: base-select;
}

input {
    border-radius: 8px;
    border: 1px solid grey;
}

select::picker-icon {
    color:rgb(230, 170, 8);
}

.input-base {
    padding: 12px;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid grey;
    border: 2px solid rgb(219, 171, 39);
}

input[type="radio"] {
    accent-color: rgb(219, 171, 39);
    transform: scale(1.5); 
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.checkbox-label {
  cursor: pointer;
  position: relative;
  padding-left: 30px;
}

.checkbox-label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 4px;
  background-color: #fff;
}

input[type="checkbox"]:checked + .checkbox-label::before {
  background-color: rgb(219, 171, 39); /* Change background when checked */
  border-color: #ec8907;
}

input[type="checkbox"]:checked + .checkbox-label::after {
  content: '\2713'; /* Unicode checkmark */
  position: absolute;
  left: 5px;
  top: 1px;
  color: white;
  font-size: 18px;
}

input[type=submit] {
    padding: 10px 30px;
    margin: 4px 2px;
    font-size: 16px;
    border: 2px solid rgb(230, 170, 8);
    border-radius: 8px;
}

input[type=submit]:hover {
    background-color: rgb(156, 219, 39);
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
}

input[type=submit]:active {
     box-shadow: 0 5px #666;
    transform: translateY(4px);
}

input[type=reset] {
    padding: 10px 30px;
    margin: 4px 2px;
    font-size: 16px;
    border: 2px solid rgb(230, 170, 8);
    border-radius: 8px;
}

input[type=reset]:hover {
    background-color: rgb(219, 105, 39);
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
}

input[type=reset]:active {
     box-shadow: 0 5px #666;
    transform: translateY(4px);
}

input[type=range] {
  width: 100%;
  margin: 13.8px 0;
  background-color: transparent;
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: rgb(230, 170, 8);
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  margin-top: -14px;
  width: 16px;
  height: 36px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 3px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgb(230, 170, 8);
}

input[type=range]::-moz-range-track {
  background: rgba(48, 113, 172, 0.2);
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  width: 16px;
  height: 36px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 3px;
  cursor: pointer;
}

input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 14.8px 0;
  color: transparent;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}

input[type=range]::-ms-fill-lower {
  background: #2a6498;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}

input[type=range]::-ms-fill-upper {
  background: rgba(48, 113, 172, 0.2);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}

input[type=range]::-ms-thumb {
  width: 16px;
  height: 36px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 0px;

}

input[type=range]:focus::-ms-fill-lower {
  background: rgba(48, 113, 172, 0.2);
}

input[type=range]:focus::-ms-fill-upper {
  background: #367ec0;
}

