@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    background-color: #f5ffdb;
}

#logo {
    width: 30px;
    height: auto;
}

#myPhoto {
    width: 150px;
    height: auto;
    border-radius: 40%;
    border: 2px solid #ccc;
}

a {
    text-decoration: none;
}