.post {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    margin: 1rem 0;
    padding: 1rem;
}

.tags span {
    background: #d6ece9;
    color: #0648e1;
    padding: 0.2rem 0.5rem;
    border-radius: 6px;
    margin-right: 4px;
    font-size: 0.85em;
}

.btn {
    background-color: #f0c436;
}

.btn, input[type=search] {
    font-size: clamp(0.95rem, 1vw + 0.4rem, 1.1rem);;
    margin: 0.3rem;
    padding: 0.25rem 0.4rem 0.25rem;
    border: 1px solid rgb(216, 213, 21);
    border-radius: 0.25rem;
    cursor: pointer;
}